@mixin borderStyle($borderthick, $borderColor, $radius) {
    border:$borderthick solid $borderColor;
    border-radius: $radius;
}

@mixin hoverEffect($color, $time) {
    &:hover{
        background-color: lighten($color, 20%);
        transition: all $time;
        @content;
    }
}