// import an external css file
// one line comment
/*
multiple lines comments
*/
// @use 
@import 'main';
@import   'main1';
// define a color as a variable
$myColor : #4e4e4e;
// define a several variabls
/*
mixin is :
multiple attributes
function (arguments, parameters)
*/
@mixin buttonStyle($textColor, $background, $buttonWidth) {
    text-decoration: none;
    color: $textColor;
    background-color: $background;
    border-radius: 5px;
    display: block;
    width: $buttonWidth;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}
.container{
    width: 90%;
    margin: auto;
    >.row{
        >.col-6{
            >h2{
              color:green;  
              background-color: $myColor;
            }
            >#text{
                color: $myColor;
            }
            >#text:hover{
                color: aqua;
            }
        }
    }
}

.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 100px;
    >.section{
        border: 1px solid $myColor;
        padding: 5%;
        // overflow: scroll;
        >p{
            text-align: justify;
        }
        >a{
            @include buttonStyle(white, green, 70%)
        }
    }
}
.anothercontent{
    a{
        @include buttonStyle(white, blue, 50%)
    }
}
.lastContent{
    a{
        @include buttonStyle(red,  green, 100px);
    }
}
