// to open options section in vs code ctrl + shift + p
// everything about navbar
/* 1- logo width: 25%
      uppercase
    2- .nav width 75%
    3- make (.logo &.nav) inline
    4- override the default display for ul
    5- display each li in same line
    6- disable underline fo all elements in nav
    7- set background #2e2e2e
    8- logo border: 0.5px yellow solid
    9- lists border 1px white solid
    mixin(borderStyle)
    10- apply borderStyle to make nav border-radius 5px only
    11- border for each <li> 1px #e2e2e2 5px
    12- the text inside li also in center with color #e2e2e2
    13- create a general hover mixin, taks color as argument, background lighten 20%, takes time argument transition, call it back for li
*/
@import '../variables/variables';
$navHeight: 15vh;
$navBackground: #2e2e2e;

nav{/*div*/
    height: $navHeight;
    background-color: $navBackground;
    @include borderStyle(0px, white, 5px);
    @include resizing(50px, 840px){
        height: $navHeight * 2;
    }
    a{/*all <a>*/
        text-decoration: none;
    }
    >.logo{/*div*/
        width: 25%;
        float: left;
        height: 100%;
        @include borderStyle(0.5px, yellow, 0px);
        @include hoverEffect($navBackground, 1s){
            // border: 1px solid red;
            @include borderStyle(5px, red, 10px);
        };
        @include resizing(50px, 840px){
            float: none;
            width: 90%;
            height: 50%;
            margin: auto;
        }
        >a{
            display: block;
            height: 100%;
            >h2{
                width: 90%;
                height: 100%;
                text-transform: uppercase;
                font-size: $navHeight/4;
                text-align: center;
                color: #e2e2e2;
                margin: 0 auto;
                padding: 10%;
                @include resizing(210px, 840px){
                    padding: 5%;
                };

            }
        }
    }
    >.nav{/*div*/
        width: 75%;
        float: right;
        height: 100%;
        @include resizing(50px, 840px){
            float: none;
            height: 50%;
            width: 100%;
        }
        ul{
            list-style-type: none;
            height: 100%;
            @include borderStyle(1px, white, 5px);
            margin: 0;
            @include resizing(800px, 840px){
                width: 50%;
                margin: auto;
                padding: 2%;
            };
            @include resizing(638px,800px){
                width: 90%;
                margin: auto;
                padding: 10px 15% ;
            }
            @include resizing(50px,638px){
                width: 100%;
                padding: 10px 5% ;
            }
            li{
                display: inline-block;/*so we can adjust heght*/
                @include borderStyle(1px, #e2e2e2, 5px);
                height:  $navHeight/2;
                margin-top: $navHeight/4;
                margin-bottom: $navHeight/4;
                @include hoverEffect($navBackground, 1s);
                // @include resizing(){
                //     // background-color: aqua;
                // };
                a{
                    display: block;
                    height: 100%;
                    padding-top: $navHeight/10;
                    font-size: $navHeight/4;
                    color: #e2e2e2;
                }
            }
        }
    }

}