// to open options section in vs code ctrl + shift + p
// everything about navbar
/* 1- logo width: 25%
      uppercase
    2- .nav width 75%
    3- make (.logo &.nav) inline
    4- override the default display for ul
    5- display each li in same line
    6- disable underline fo all elements in nav
    7- set background #2e2e2e
    8- logo border: 0.5px yellow solid
    9- lists border 1px white solid
    mixin(borderStyle)
    10- apply borderStyle to make nav border-radius 5px only
*/
@import '../variables/variables';
$navHeight: 15vh;
$navBackgroud: #2e2e2e;

nav{/*div*/
    height: $navHeight;
    background-color: $navBackgroud;
    @include borderStyle(0px, white, 5px);
    a{/*all <a>*/
        text-decoration: none;
    }
    >.logo{/*div*/
        width: 25%;
        float: left;
        height: 100%;
        @include borderStyle(0.5px, yellow, 0px);
        // text-transform: uppercase;
        >a{
            // text-decoration: underline;
            >h2{
                text-transform: uppercase;
                font-size: 1.3rem;
            }
        }
    }
    >.nav{/*div*/
        width: 75%;
        float: right;
        height: 100%;
        ul{
            list-style-type: none;
            height: 100%;
            @include borderStyle(1px, white, 5px);
            margin: 0;
            li{
                display: inline-block;/*so we can adjust heght*/
            }
        }
    }

}