@font-face {
    font-family: 'fbw1';
    src: url('../fonts/Just_Another_Hand/JustAnotherHand-Regular.ttf');
}
@font-face {
    font-family: 'fbw2';
    src: url('../fonts/Zen_Loop/ZenLoop-Italic.ttf');
}
@font-face {
    font-family: 'richard';
    src: url('../fonts/richard_hamilton/Richard\ Hamilton.ttf');
}

html{
    font-size: 62.5%;
    /* the font size of html tag = 62.5 * 16 / 100 = 10px */
}
.par{
    /* ctrl + k + c for comment */
    /* ctrl + k + u for uncomment */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Just Another Hand', cursive; */
    /* font-family: 'Zen Loop', cursive; */
    font-family: 'fbw2';
    font-size: 2rem;
}