.someDiv{
    height:500px;
    /* background: radial-gradient(orange, red, blue, green) */
    background: linear-gradient(to top left,red, rgba(133, 133, 236, 0.486), green);
    /* transform-origin: 50px 50px; */
    /* transform: scale(3,2) translateY(200px); */
    /* transform: skew(10deg, 20deg); */
    /* transform: matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */
    /* transform: matrix(1,0,0,1,0,0); */
    transform: matrix(2, 0, 1, 2, 10, 250);
    text-align: center;
    
}